In [1]:
import pandas as pd
import table_script as ts

In [2]:
net = ts.Network_Table(r"C:\Users\A654219\Documents\GA\Network Templates")
net.head()

  HIOS_ID                                       Network Name Network ID
0   82824                                        HMO_Georgia     GAN004
1   83761                               Alliant Health Plans     GAN001
2   83761                          Alliant and External Wrap     GAN002
3   49046  Pathway, Dental Prime, and Rx Choice Tiered Ne...     GAN001
4   49046   Pathway, Dental Prime, and Pharmacy Base Network     GAN002

In [31]:
plan = ts.Plan_Table(r"C:\Users\A654219\Documents\GA\Plans & Benefits Templates")
plan = plan[['Plan ID','Network ID', 'Service Area ID', 'Plan Type']]
plan['HIOS_ID'] = plan['Plan ID'].str[:5]
plan

            Plan ID Network ID Service Area ID Plan Type HIOS_ID
0    82824GA0110028     GAN004          GAS004       HMO   82824
1    82824GA0110016     GAN004          GAS004       HMO   82824
2    82824GA0110013     GAN004          GAS004       HMO   82824
3    82824GA0110022     GAN004          GAS004       HMO   82824
4    82824GA0110032     GAN004          GAS004       HMO   82824
..              ...        ...             ...       ...     ...
292  43802GA0070002     GAN002          GAS001       HMO   43802
293  43802GA0040045     GAN001          GAS001       HMO   43802
294  43802GA0040030     GAN001          GAS001       HMO   43802
295  43802GA0040046     GAN002          GAS001       HMO   43802
296  43802GA0040047     GAN001          GAS001       HMO   43802

[297 rows x 5 columns]

In [27]:
net_names = pd.read_excel(r'C:\Users\A654219\Documents\GA\Network_Name_Mapping.xlsx')
net_names = net_names.drop_duplicates()
net_names

            Plan ID                     Carrier-Network
0    82824GA0110013                         Aetna - HMO
1    82824GA0110016                         Aetna - HMO
2    82824GA0110019                         Aetna - HMO
3    82824GA0110022                         Aetna - HMO
4    82824GA0110025                         Aetna - HMO
..              ...                                 ...
378  49046GA0410097                BCBS - Pathway X HMO
379  49046GA0410175                BCBS - Pathway X HMO
380  49046GA0410185  BCBS - Pathway X Guided Access HMO
381  49046GA0410092  BCBS - Pathway X Guided Access HMO
382  49046GA0410192                BCBS - Pathway X HMO

[263 rows x 2 columns]

In [46]:
serv = ts.ServiceArea_Table(r'C:\Users\A654219\Documents\GA\Service Areas')
serv = serv[['HIOS_ID','Short Carrier']]
serv = serv.drop_duplicates()
serv

    HIOS_ID Short Carrier
0     82824         Aetna
69    83761       Alliant
172   49046          BCBS
471   60224   Care Source
531   15105         Cigna
597   45334           NaN
601   89942            KP
653   58081         Oscar
683   70893   Peach State
994   43802        United

In [54]:
df = pd.merge(plan, net, on = ['HIOS_ID','Network ID'], how='left')
df = pd.merge(df,net_names,on='Plan ID', how='left')
df = pd.merge(df, serv, on= 'HIOS_ID',how='left')
cols = df.columns.tolist()
df = df[['HIOS_ID','Plan ID','Network ID','Short Carrier','Carrier-Network','Network Name']]
df[['Carrier-Network','Network Name']].value_counts()

Carrier-Network                     Network Name
Peach State - HMO                   Bronze, Silver, Gold GA                                              34
Alliant - PPO                       Alliant Health Plans                                                 32
Alliant - HMO                       Alliant Health Plans                                                 32
KP - HMO                            Kaiser Permanente Signature HMO - Individual                         25
                                    Kaiser Permanente HMO - Individual                                   25
Aetna - HMO                         HMO_Georgia                                                          20
Care Source - HMO                   Georgia                                                              15
Oscar - HMO                         Oscar HMO                                                            13
United - HMO                        Individual Exchange Benefit Plans                                    12
Cigna - HMO                         Georgia Connect Network                                              12
BCBS - Pathway X HMO                Pathway, Dental Prime, and Pharmacy Base Network                     11
BCBS - Pathway X Guided Access HMO  Pathway Guided Access, Dental Prime, and Pharmacy Base Network        9
Peach State - Select HMO            Ambetter Virtual Access GA                                            6
United - HMO                        Virtual First Benefit Plans                                           4
BCBS - Pathway X HMO                Pathway, Dental Prime, and Rx Choice Tiered Network                   3
                                    Pathway Guided Access, Dental Prime, and Pharmacy Base Network        2
BCBS - Pathway X Guided Access HMO  Pathway, Dental Prime, and Pharmacy Base Network                      2
                                    Pathway Guided Access, Dental Prime, and Rx Choice Tiered Network     2
Peach State - Select HMO            Plus SELECT GA                                                        2
                                    Wellstar SELECT GA                                                    2
Name: count, dtype: int64

In [52]:
df

,HIOS_ID,Plan ID,Network ID,Short Carrier,Carrier-Network,Network Name
0,82824,82824GA0110028,GAN004,Aetna,Aetna - HMO,HMO_Georgia
1,82824,82824GA0110016,GAN004,Aetna,Aetna - HMO,HMO_Georgia
2,82824,82824GA0110013,GAN004,Aetna,Aetna - HMO,HMO_Georgia
3,82824,82824GA0110022,GAN004,Aetna,Aetna - HMO,HMO_Georgia
4,82824,82824GA0110032,GAN004,Aetna,Aetna - HMO,HMO_Georgia
...,...,...,...,...,...,...
292,43802,43802GA0070002,GAN002,United,United - HMO,Virtual First Benefit Plans
293,43802,43802GA0040045,GAN001,United,United - HMO,Individual Exchange Benefit Plans
294,43802,43802GA0040030,GAN001,United,United - HMO,Individual Exchange Benefit Plans
295,43802,43802GA0040046,GAN002,United,United - HMO,Virtual First Benefit Plans
296,43802,43802GA0040047,GAN001,United,United - HMO,Individual Exchange Benefit Plans